{% extends 'base.html' %}

{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Pastry Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
            </div>
        </div>
    </header>

    <br/>

    <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p><b>
                                        Meal Type: <br/>
                                            {% for mealtype in product.meal_type.all %}
                                                {{ mealtype }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}</b>
                                        </p>
                                    <p class="card-text justified">{{ product.description }}</p>
                                    {% if product.is_sale %}
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        <strike>
                                            ₱{{ product.price }}
                                        </strike>
                                        &nbsp;
                                        ₱{{ product.sale_price }}
                                    {% else %}
                                        ₱{{ product.price }}
                                    {% endif %}
                                    <br/><br/>
                                    <div class="row justify-content-center">
                                        <div class="col-md-2">Edit quantity:</div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <input type="number" class="form-control form-control-sm" id="quantityInput{{ product.id }}" value="1" min="1">
                                                <button type="button" class="btn btn-outline-secondary btn-plus" data-index="{{ product.id }}">+</button>
                                                <button type="button" class="btn btn-outline-secondary btn-minus" data-index="{{ product.id }}">-</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    {% for id, qty in quantities.items %}
                                        {% if product.id == id|add:0 %}
                                            <h5>Quantity: {{ qty }}</h5>
                                        {% endif %}    
                                    {% endfor %}
                                    <br/>
                                    <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                                    <button type="button" data-index="{{ product.id }}" class="btn btn-danger delete-product">Remove</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            <h3 style="text-align: right; border: 1px solid black; padding: 10px">Total: ₱{{ totals }}</h3>
            <br/>
            <br/><br/>
        {% else %}
            <center>
                There's Nothing In Your Cart...
            </center>
            <br/><br/> <br/><br/><br/> <br/>
            <br/><br/> <br/><br/><br/> <br/>
            <br/><br/> <br/><br/>
        {% endif %}
    </div>

    <script>
        $(document).ready(function () {
            // Event listener for quantity increment
            $(document).on('click', '.btn-plus', function (e) {
                e.preventDefault();
                var inputField = $('#quantityInput' + $(this).data('index'));
                var currentValue = parseInt(inputField.val(), 10);
                inputField.val(currentValue + 1);
            });

            // Event listener for quantity decrement
            $(document).on('click', '.btn-minus', function (e) {
                e.preventDefault();
                var inputField = $('#quantityInput' + $(this).data('index'));
                var currentValue = parseInt(inputField.val(), 10);
                if (currentValue > 1) {
                    inputField.val(currentValue - 1);
                }
            });

            // Event listener for the update cart button
            $(document).on('click', '.update-cart', function (e) {
                e.preventDefault();
                var productid = $(this).data('index');
                var quantityInput = $('#quantityInput' + productid);
                var quantity = quantityInput.val();

                $.ajax({
                    type: 'POST',
                    url: '{% url "cart_update" %}',
                    data: {
                        product_id: productid,
                        product_qty: quantity,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
                    success: function (json) {
                        location.reload();
                    },
                    error: function (xhr, errmsg, err) {
                        // Handle errors if needed
                    }
                });
            });

            // Event listener for the delete product button
            $(document).on('click', '.delete-product', function (e) {
                e.preventDefault();
                var productid = $(this).data('index');

                // Use the confirm dialog
                var confirmDelete = confirm("Are you sure you want to remove this item from your cart?");
                
                if (confirmDelete) {
                    $.ajax({
                        type: 'POST',
                        url: '{% url "cart_delete" %}',
                        data: {
                            product_id: productid,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'post'
                        },
                        success: function (json) {
                            location.reload();
                        },
                        error: function (xhr, errmsg, err) {
                            // Handle errors if needed
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}